* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,body{
    background-color:peachpuff;
            overflow-x: hidden;
            scrollbar-width: none;
            width: 100%;
            height: 100%;    
        }
::-webkit-scrollbar{
    display: none;
}

.mySlides {
    position: absolute;
    top: 6%;
           display:none;
           width: 100%;
          }

          @font-face {
    font-family: myFont;
    src: url(abs.ttf);
}

.h1{
    background-color:black;
    width: 100%;
    text-align: center;
    color: red;
    font-size: 25px;
    font-family: myFont;
    padding: 1%;
    animation-name: colour1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.h1 span{
    animation-name: colour2;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes colour1{
    0%{
        color: red;
    }
   100%{
    color: white;
   }
}

@keyframes colour2{
    0%{
        color: red;
    }
   100%{
    color: white;
   }
}


.menu{
    height:40%;
    position:absolute;
    right:0;
    top:6%;
    width:180px;
    color:white;
    transform: translateX(180px);
transition: 250ms ease-in-out;
background-color: rgb(1, 1, 12);
padding: 6px;
opacity: 1;
z-index: 2000;
}

.secstyle{
    font-size: larger;
    margin-bottom: 10%;
    margin-left: 10%;
}

.secstyle:hover{
    color: red;
}

.sidebaricontoggle{  
    width:18px;
    height: 25px;
    position:absolute;
    z-index:20;
    top:2%;
    right:2%;
    cursor:pointer;
}

.spinner{
    height:3px;
    background:#fff;
    transition:all 0.3s;
}

.spinner.middle, .spinner.bottom{
    margin-top:3px;
}

#openSidebarMenu:checked  ~ .sidebaricontoggle > .spinner.middle{
    opacity:0;
}

#openSidebarMenu:checked  ~ .sidebaricontoggle > .spinner.top{
transform:rotate(135deg);
margin-top: 8px;
}

#openSidebarMenu:checked  ~ .sidebaricontoggle > .spinner.bottom{
    transform: rotate(-135deg);
    margin-top: -9px;
}

#openSidebarMenu:checked ~ .menu{
    transform:translateX(0px);
    opacity: 1;
}

.check{
    opacity: 0;
}

.menu a{
    text-decoration: none;
    color: white;
}

.menu a:hover{
    color: red;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: myFont2;
    src: url(typo.otf);
}

.btn1{
    color: red;
    background: white;
    border-radius: 15px;
    width: 35%;
    font-size: 20px;
    font-family: myFont2;
    font-weight: 500;
    height: 40px;
    border-style: none;
    margin-top: 45%;
    z-index: 1000;
    margin-bottom: 15%;
}

.btn1:hover{
    color:white;
    background: red;
}

@font-face {
    font-family: myFont3;
    src: url(heavybrush.ttf);
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:peachpuff;
    color: red;
    font-size: 20px;
  padding: 5%;
    font-family: myFont3;
}

@font-face {
    font-family: myFont4;
    src: url(news.ttf);
}

.name{
    color: rgb(253, 251, 251);
    font-family: myFont4;
    font-size: large;
    margin-left: 10%;
    z-index: 1000;
}

.type1{
    color: rgb(252, 250, 250);
    font-family: myFont4;
    font-size: large;
    margin-left: 10%;
    z-index: 1000;
}

.type2{
    color: white;
    font-family: myFont4;
    font-size: large;
    margin-left: 10%;
    z-index: 1000;
}

.room1{
   background-image: url("https://bnz05pap002files.storage.live.com/y4mFCy0cWe4VEORS3bPNXyejwI7j_NHuJCofi2cvDstgkCn3KyJhgH7fdcuHs5pb6R7vujTXbAgrIGeJrqvLU3r4JvVt1ylSow9xwRLgdyYfGOPvoKUXQj3CkQ3gLvTp2CmdmlSISa09qtpBjkDSq4jyH6Rk1u-RoBdEDdvST-R9zC9E1gMiZQ3Mstu1azrCKe-?width=4032&height=3024&cropmode=none");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding: 10%;
}

.room2{
   background-image: url("https://bnz05pap002files.storage.live.com/y4mlBxk2MmTU2Rt2AMlqZFm9EsO1VSxdHwnPvWamLBTAgHISohZj5mTa-xjEDjXBX2EOlmtEOsAfjYQ3DQLN7jlv0rmmXBw3Oh7wmpgo115wQiq51DN0mVqqoaN3v2UKyDBvgBBc8--bA7l0yMnhjZXBnDA7jeb728Gvhupiz7z97U0-xfON_Wrsn45d-cvueN0?width=5184&height=3456&cropmode=none");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding: 10%;
}

.room3{
   background-image: url("https://bnz05pap002files.storage.live.com/y4mCPgB-Te65hVwYAgTKrwSv9X85-gLQQVTgDATIeHnAr2j3GpvihAFJw_0PkddOuXQZBJ-t5kZMZ9B5PinDp8EGROpazngKglkJkx254jjhklkwQuwuYCpQMVKDHJfRQNCZkrdkb2XgJUpLoqRxJSPk37vHJBxU1VTsFXgQlqLEEoR8KLW74DammlA1743btPy?width=5616&height=3748&cropmode=none");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding: 10%;
}

.room4{
   background-image: url("https://bnz05pap002files.storage.live.com/y4mW94s10StgZTstMBVMhTazpfTwzh8Dewt_eXufW9YQQW88bSjW0iP9T_7gtH_ulP1SiYdsXtVY_uFASdK_IUEl1VQ6YujaEmpIURlT3UnlfUvV-1A13mTHt3aEMHxRv8Qy5S0z_D6V0V_gC3gJvlZzemMthpO64yyW3jMkhsPsaEOWkCJ3IUu9hYhvCJN4L3i?width=4000&height=2649&cropmode=none");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding: 10%;
}

.room5{
   background-image: url("https://bnz05pap002files.storage.live.com/y4mcXaBohG_P86Bxhmy1oxO7uzKtwWyP3jmbft9VUakUm-EyJa3F6mObXV1d01NhXTJ9x3k1Qxx6-INhLwj9yqGApjzxKSI30kx4PviSHTe70xBgeyBPljVoyLXFUNsVw_Ls0IYRQkqn6gH1VcsKPB5W2m83Kl31SYToP2CmucS5Fb0GMPM6otOkruqJlTqSBFk?width=6388&height=4259&cropmode=none");
   background-size: 100% 100%;
   background-repeat: no-repeat;
   padding: 10%;
}

.p{
    transform: translateY(20px);
    opacity: 0.5;
    transition: .8s ease-in-out;
}

.fade{
    transform: translateY(0);
    opacity: 1;
}

.para{
    color: white;
    font-size: medium;
    padding: 3%;
    font-family: myFont4;
}

.book{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    font-size: 20px;
    border-radius: 10px;
    border-color: grey;
    border-width: 2px;
    background:transparent;
    color:white;
    border-style: double;
    font-family: myFont3;
}

.book:hover{
    color:black;
    background-color: red;
}

.book-color{
    color:black;
    background-color: red;
}

.slide1{
    position: absolute;
    width: 100%;
    height: 350px;
    transform: translateX(100%);
    transition: .8s ease-in-out;
}

.slide2{
    position: absolute;
    width: 100%;
    height: 400px;
    transform: translateX(100%);
    transition: .8s ease-in-out;
}

.slide3{
    position: absolute;
    width: 100%;
    height: 470px;
    transform: translateX(100%);
    transition: .8s ease-in-out;
}

.sl1{
    transform: translateX(0%);
}

.c-head{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-family: myFont3;
    font-size: 18px;
    padding: 5%;
}

.para1{
    color: white;
    font-size: medium;
    font-family: myFont4;
    text-align: center;
}

.end{
    padding-bottom: 20%;
    background-image: url("https://bnz05pap002files.storage.live.com/y4mfCQUPBPKa9amdwmOre5_tdRRy4bXCcWwH_ZuuTPxzEg3i-OONJhCZ_DH_oglmDsu6-OlLCoJo-5Ty-vHGZrtZNK6RCW0NQ_GcHfxDqWMYJvEFC2aZkBkSamHm4falXPwv_foXmRidvJqeZD8PBjS2sfntP_bagdKflhOBVSDjExTAL_eaTMqVBNnk1L3QnEU?width=5184&height=3456&cropmode=none");
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

#scroll-top{
    position: fixed;
    top: 80%;
    right: 10%;
    font-size: 20px;
    opacity: 0.5;
    background-color: white;
    border-radius: 49px;
}
